
services:
  backend:
    build:
      context: ./
      target: development
    container_name: backend-service
    ports:
      - "4000:4000"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://postgres:example@db:5432/postgres
    depends_on:
      - db

  db:
    image: supabase/postgres:17.6.1.038
    container_name: supabase-db
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
